# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# VS Code
.vscode/settings.json
.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
